*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
  margin: 133px 30px;
}

.result{
  min-height: 456px;
}

.result__video{
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.result__video-container{
  position: relative;
  height: 386px;
  margin-bottom: 16px;
  inline-size: 711px;
}

.search-form{
  display: flex;
  justify-content: space-between;
  min-height: 54px;
}

.content__list{
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 298px;
  overflow: auto;
  overflow-x: hidden;
}

.content__list-item{
  margin-bottom: 30px;
}

.content__list-item:last-child{
  margin-bottom: 0;
}

.content__details{
  width: 399px;
}

.content__video-card-thumbnail{
  width: 194px;
}

.content__video-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 394px;
  padding: 2px;
}

.title{
  padding-bottom: 26px;
  color: #FFF;
  font-family: "Oswald" ,"Arial", sans-serif ;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent{
  color: #545050;
}

.content__video-card-title{
  padding-bottom: 5px;
  color: #FFF;
  font-family: "Oswald" ,"Arial", sans-serif ;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 100%;
  text-decoration: none;
  text-transform: uppercase;
}

.content__card-link{
  display: block;
  width: 394px;
  color: #FFF;
  font-family: "Fira Sans Condensed","Arial", sans-serif;
  font-size: 18px;
  line-height: 16.2px;
  text-decoration: none;
}

.search-form__fieldset-title{
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
}

.search-form__fieldset{
  width: 212px;
  min-height: 54px;
  border: 0;
}

.search-form__checkbox-list{
  display: flex;
  gap: 15px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label{
  cursor: pointer;
}

.search-form__pseudo-checkbox{
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
  padding: 1px;
  vertical-align: middle;
  background-color: transparent;
}

.search-form__textfield{
  width: 225px;
  border-top: 1px solid #FFF;
  border-right: 0;
  border-bottom: 1px solid #FFF;
  border-left: 0;
  padding-left: 0;
  background-color: transparent;
  min-height: 27px;
  color: #ffffffb3;
  font-family: "Fira Sans Condensed","Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.search-form__textfield::placeholder{
  color: #ffffffb3;
  font-family: "Fira Sans Condensed","Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
}


.button{
  border: 1px solid #FFF;
  color: #FFF;
  font-family: "Fira Sans Condensed","Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  background-color: transparent;
}

.more-button{
  width: 399px;
  height: 34px;
}

.search-form__submit-button{
  align-self: end;
  width: 194px;
  min-height: 34px;
}

.search-form__checkbox:focus-visible + .search-form__pseudo-checkbox::after{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.search-form__label-text:hover{
  text-decoration: underline;
  cursor: pointer;
}

.search-form__label-text:active{
  text-decoration: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.button:hover{
  text-decoration: underline;
  cursor: pointer;
}

.button:active{
  text-decoration: none;
  background-color:#545050 ;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__textfield:hover{
  cursor: pointer;
}

.search-form__textfield:active {
  outline: 1px solid #fff ;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.content__video-card:hover{
  text-decoration: underline;
  cursor: pointer;
}

.content__video-card:active{
  text-decoration: none;
  background-color:#545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}

.content__card-link_current{
  background-color:#545050;
}
